/*цвета*/
:root {
    --main-bg-color: rgb(20, 21, 22);
    --ul-color: #ffffff;
    --h1-color: rgb(233, 217, 148);
    --ex-color: rgb(240, 211, 82);
}
/*шрифты*/
@font-face {
	font-family: 'PlayfairDisplaySC-Black'; 
	src: url(../fonts/PlayfairDisplaySC-Black/PlayfairDisplaySC-Black.ttf); 
}
@font-face {
	font-family: 'Merriweather'; 
	src: url(../fonts/Merriweather/Merriweather-Black.ttf); 
}
@font-face {
	font-family: 'Lora'; 
	src: url(../fonts/Lora/Lora-VariableFont_wght.ttf); 
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }
body{
    background-color: var(--main-bg-color);
    font-family: 'Lora', "aria"; 
    
    overflow-y: scroll;
}



/*НЧ Главное изображение и кнопка*/
.mainPhoto{
    background-repeat: no-repeat;
    height: 500px;
    margin: 10px;
    background-position: center;
    text-align: center;
}
#buttonMainPhoto{
    text-decoration: none;
    border: solid 2px var(--ul-color);
    background-color: transparent;
    
    padding: 20px 30px;
    color: var(--ul-color);
    font-size: 20px; 
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
}
#buttonMainPhoto:hover{
    border: solid 2px var(--h1-color);
    color: var(--h1-color);
}
/*КН Главное изображение и кнопка*/
@media (max-width: 1200px) {
    /* body{
        background-color: rgb(255, 0, 76);
    } */
}
@media (max-width: 1000px) {
    /* body{
        background-color: blue;
    } */

}
@media (max-width: 768px) {
    /* body{
        background-color: rgb(255, 187, 0);
    } */
}
