/*НЧ Шапка меню*/
.nav{
    display: inline-flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    background-color: var(--main-bg-color);
}
h1{
    font-family: 'PlayfairDisplaySC-Black', "aria"; 
    padding-left: 20px;
    color: var(--h1-color);
    font-size: 35px;
}
ul {
    text-align: right;
    list-style: none; 
    margin: 10px;
    font-size: 20px;
}
.ulMenu > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
.ulMenu > li:last-child {
    margin-right: 0;
}
.ulMenu li a{
    text-decoration: none;
    color: var(--ul-color);
    padding: 10px;
}
.ulMenu li a:hover{
    color: var(--h1-color);
    border-bottom: solid 2px var(--h1-color);
}
/*КН Шапка меню*/

/*подвал*/
.footer {
    border-top: 1px solid var(--ul-color);
}
.footer h1{
    font-size: 20px;
}
.footer ul{
    font-size: 15px;
}
